@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #0d0e0f;
}

@layer components {
	.container {
		max-width: 1440px;
		margin: 0 auto;
	}
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
	@apply text-primary transform -translate-y-10 -translate-x-2 scale-75;
}

.no-scroll {
	overflow: hidden;
}

@keyframes slide-down {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide-up {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.slide-down {
	animation: slide-down 0.3s ease-out forwards;
}

.slide-up {
	animation: slide-up 0.3s ease-out forwards;
}

::-webkit-scrollbar {
	width: 4px; /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
	background-color: #f15a22; /* Scrollbar color */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #f15a22; /* Hover color */
}
